@font-face {
    font-family: "TrajanPro";
    src: url('../fonts/TrajanPro-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBricks";
    src: url('../fonts/TrajanusBricks.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBricksXtra";
    src: url('../fonts/TrajanusBricksXtra.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBriX-Invers";
    src: url('../fonts/TrajanusBriX-Invers.ttf') format("truetype");
}

body {
	background-image: url('../images/Map_of_Ice_and_Fire.jpg');
	background-repeat: no-repeat;
	//background-size: cover;
	background-color: #fff;

	margin: 0px;
	padding: 0px;
	width:2800px;
	height:2500px;
}

#back {
	background-color: rgba(3, 21, 45, 0.4);
	width:200px;
	margin-top: 50px;
}

#back img{
	display: block;
	margin:auto;
}

.clicable-item {
	background-color: rgba(3, 21, 45, 0.4);
	border-radius: 50%;
	width:50px;
	height:50px;
	animation:flashing 3s;
	animation-iteration-count: infinite;
	-webkit-animation:flashing 3s;
	-webkit-animation-iteration-count: infinite;
}

.clicable-item a img{
	border-radius: 50%;
	width:50px;
	height:50px;
}

#winterfell {
	margin-top: 375px;
	margin-left: 398px;
}

#pyke {
	margin-top: 446px;
	margin-left: 173px;
}

#lannisport {
	margin-top: 132px;
	margin-left: 170px;
}

#riverrun {
	margin-top: -166px;
	margin-left: 342px;
}

#eyrie {
	margin-top: -132px;
	margin-left: 622px;
}

#dragonstone {
	margin-top: 106px;
	margin-left: 722px;
}

#kingslanding {
	margin-top: 60px;
	margin-left: 550px;
}

#highgarden {
	margin-top: 112px;
	margin-left: 300px;
}

@keyframes flashing
{
	0% {background: rgba(3, 21, 45, 0);}
	35% {background:rgba(3, 21, 45, 0.8);}

	70% {background: rgba(3, 21, 45, 0.8);}
	100% {background:rgba(3, 21, 45, 0);}
}

@-webkit-keyframes flashing /* Safari and Chrome */
{
	0% {background: rgba(3, 21, 45, 0);}
	35% {background:rgba(3, 21, 45, 0.8);}

	70% {background: rgba(3, 21, 45, 0.8);}
	100% {background:rgba(3, 21, 45, 0);}
}