@font-face {
    font-family: "TrajanPro";
    src: url('../fonts/TrajanPro-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBricks";
    src: url('../fonts/TrajanusBricks.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBricksXtra";
    src: url('../fonts/TrajanusBricksXtra.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBriX-Invers";
    src: url('../fonts/TrajanusBriX-Invers.ttf') format("truetype");
}

body {
	background: url('../images/gallery-background.jpg') no-repeat fixed;
	background-size: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1 {
    font-family: "TrajanusBricks";
    font-size: 50px;
    color: #fff;
}

h2 {
    font-family: "TrajanPro";
    font-size: 30px;
    color: #fff;
}

table {
    width: 100%;
    text-align: center;
}

td {
    width: 50%;
}

#retroceder {
    width: 50px;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background: url('../images/back_arrow.png') no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

#retroceder:hover {
    background-color: rgba(255, 255, 255, 0.7);

}