@font-face {
    font-family: "TrajanPro";
    src: url('../fonts/TrajanPro-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBricks";
    src: url('../fonts/TrajanusBricks.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBricksXtra";
    src: url('../fonts/TrajanusBricksXtra.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBriX-Invers";
    src: url('../fonts/TrajanusBriX-Invers.ttf') format("truetype");
}

.season1_title {
    z-index: 1;
    position: absolute;
    left: 12%
    top: 5%;
}

.season2_title {
    z-index: 1;
    position: absolute;
    left: 45%
    top: 5%;
}

.season3_title {
    z-index: 1;
    position: absolute;
    right: 12%
    top: 5%;
}

html, body {
    height: 100%;
}

.floatLeft {
    float: left;
}

.season1, .season3 {
    width: 33%
}

.season1 {
    height: 100%;
}

.season3 {
    float: right;
    height: 100%;
    position: absolute;
    right: 0;
}

.season2 {
    float: right;
    height: 100%;
    position: absolute;
    right: 33%;
    width: 34%;
}

.parent {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}