@font-face {
    font-family: "TrajanPro";
    src: url('../fonts/TrajanPro-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBricks";
    src: url('../fonts/TrajanusBricks.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBricksXtra";
    src: url('../fonts/TrajanusBricksXtra.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBriX-Invers";
    src: url('../fonts/TrajanusBriX-Invers.ttf') format("truetype");
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.floatLeft {
    float: left;
}

.season1, .season3 {
    width: 33%
}

.season1 {
    height: 100%;
}

.season3 {
    float: right;
    height: 100%;
    position: absolute;
    right: 0;
}

.season2 {
    float: right;
    height: 100%;
    position: absolute;
    right: 33%;
    width: 34%;
}

.parent {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.season1 video{
    position:relative;
    z-index:0;
}

.season2 video{
    position:relative;
    z-index:0;
}

.season3 video{
    position:relative;
    z-index:0;
}

.overlay {
    position:absolute;
    top:5%;
    left: 8%;
    font-size: 50px;
    color: white;
    font-family: "TrajanusBricks";
    z-index:1;
}