@font-face {
    font-family: "TrajanPro";
    src: url('../fonts/TrajanPro-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBricks";
    src: url('../fonts/TrajanusBricks.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBricksXtra";
    src: url('../fonts/TrajanusBricksXtra.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBriX-Invers";
    src: url('../fonts/TrajanusBriX-Invers.ttf') format("truetype");
}

#plot {
    position: fixed;
    height: 100%;
    width: 0%;
    background-color: rgba(3, 21, 45, 0.4); 
    right: 0px;
    overflow: auto;
    font-family: "TrajanPro";
    color: rgba(255, 255, 255, 1.0);
    text-align: center;
}

#title {
    font-family: "TrajanusBricks";
    font-size: 30px;
}

#text {
    display: none;
    margin: 5px;
}

.vertical_men {
    display: inline;
    right: 0%;
    position: fixed;
    top: 0px;
    height: 100%;
    width: auto;
    float: right;
}

.vertical_retroc {
    position: relative;
    height: 100%;
    top: 0px;
    width: 50px;
    left: 0px;
    float: left;
    background-image: url('../images/back_arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

.vertical_retroc:hover {
    background-color: rgba(255, 255, 255, 0.7);

}