@font-face {
    font-family: "TrajanPro";
    src: url('../fonts/TrajanPro-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBricks";
    src: url('../fonts/TrajanusBricks.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBricksXtra";
    src: url('../fonts/TrajanusBricksXtra.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBriX-Invers";
    src: url('../fonts/TrajanusBriX-Invers.ttf') format("truetype");
}

body {
	background: url('../images/Feup_jardim.png') no-repeat fixed;
	background-size: cover;
}

#content {
	position: absolute;
	top: 5%; 
	left: 5%;
	font-family: "TrajanusBriX-Invers";
	color: black;
	font-size: 50px;
	text-align: center;
}

table {
	position: absolute;
	top: 15%;
	left: 5%;
    width: 90%;
}

td {
    width: 45%;
	text-align: center;
}

.caption {
    color: white;
    text-align: center;
    font-family: "TrajanPro";
    font-size: 30px;
    font-family: "TrajanusBriX-Invers";
}

#back {
    background-color: rgba(3, 21, 45, 0.4);
    width:200px;
    margin-top: 20%;
    margin-left: 45%;
    z-index: 1;
    position: absolute;
}

#back img{
    display: block;
    margin:auto;
}