@font-face {
    font-family: "TrajanPro";
    src: url('../fonts/TrajanPro-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBricks";
    src: url('../fonts/TrajanusBricks.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBricksXtra";
    src: url('../fonts/TrajanusBricksXtra.ttf') format("truetype");
}

@font-face {
    font-family: "TrajanusBriX-Invers";
    src: url('../fonts/TrajanusBriX-Invers.ttf') format("truetype");
}

body {
	margin: 0px;
	height: 100%;
	width: 200%;
	position: relative;
	float: left;
	display: inline;
	overflow: auto;
	overflow-x: scroll;
    overflow-y: scroll;
}

body::-webkit-scrollbar { 
    display: none; 
}

img {
	height: 100%;
	float: left;
}